* {
    margin: 0;
    box-sizing: border-box;
}
nav ul li:hover {
    transform: scale(1.2);
}
nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color:darkslateblue ;
    color: aliceblue;
}
a:hover {
    color: aqua;
 }
a {
    text-decoration: none;
    color: aliceblue;
}
ul {
    display: flex;
    gap: 20px;
}
li {
    list-style: none;
}
h1 {
    position: absolute;
    top: 100px;
    left: 620px;
    color: aliceblue;
}
p {
    font-size: 20px;
    color: aliceblue;
}
span {
    font-weight: 900;
    color:aqua;
}

.body {
    padding: 300px;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    background-color:darkslategray;
}
.main {
    display: grid;
    position: absolute;
    width: 40%;
    top: 200px;
    right: 100px;
    box-shadow: gray 5px 5px 5px 5px;
    border-radius: 30px;
}
.body p {
    position: absolute;
    top: 200px ;
    left: 140px;
}
input {
    height: 40px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: darkslateblue;
    border: none;
    outline: 0;
    padding: 20px;
    color: aliceblue;
    font-size: 17px;
}
textarea {
    border-radius: 40px;
    padding: 20px;
    background-color: darkslateblue;
    margin-bottom: 10px;
    border: none;
    outline: 0;
    color: azure;
    font-size: 17px;
}
button:hover {
    transform: scale(0.7);
}
button {
    border: none;
    width: 50%;
    height: 6vh;
    border-radius: 15px;
    position: absolute;
    right: 110px;
    top: 370px;
    outline: 0;
    background-color: aqua;
    font-size: 17px;
}
.bxl-whatsapp {
    font-size: 60px;
    color: aliceblue;
    position: absolute;
    left: 210px;
    top: 450px;
   
}
.bxl-whatsapp:hover {
    transform: scale(0.6);
    background-color: aqua;
    border-radius: 15px;
}
.bxl-instagram {
    font-size: 60px;
    color: aliceblue;
    position: absolute;
    left: 130px;
    top: 450px;
   
}
.bxl-instagram:hover {
    transform: scale(0.6);
    background-color: aqua;
    border-radius: 15px;
}
.bxl-facebook-square{
    font-size: 60px;
    color: aliceblue;
    position: absolute;
    left: 290px;
    top: 450px;
    
}
.bxl-facebook-square:hover {
    transform: scale(0.6);
    background-color: aqua;
    border-radius: 15px;
}
.about ul li:hover {
    transform: scale(0.7);
}